.order-create {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}
.order-create dt {
    float: left;
    width: 200px;
    text-align: right;
    padding: 0;
    color: #999999;
    margin: 0 10px 10px 0;
}
.order-create dd {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0 0 10px 0;
}

.order-create .name {
    width: 400px;
}

.order-create .price {
    width: 150px;
}

.order-create textarea {
    width: 400px;
    height: 100px;
    resize: none;
}

.exec-btn {
    margin: 10px auto 10px auto;
    display: block;
}

.exec-btn:disabled {
    opacity: 0.8;
}

.info-msg {
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px 0;
}

.info-msg a {
    color: #fff;
}

.success {
    background: #34803a;
}

.fail {
    background: #a71818;
}

