.container-header {
    width: 820px;
    margin: 10px auto 10px auto;
    border: 0;
    font-size: 22px;
    border-bottom: 1px solid #eeeeee;
    font-weight: bold;
    padding-bottom: 10px;
}

.container-header a, .container-header a:hover {
    color: #555459;
    text-decoration: none;
}

.container-header .right-part {
    font-size: 12px;
    margin: 7px 0 0 0;
    display: inline-block;
    float: right;
    color: #777;
}

.container-header .right-part p,
.container-header .right-part a {
    font-size: 12px;
    margin: 0 0;
    vertical-align: middle;
    color: #888888;
}

.container-header .right-part a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container-header .right-name {
    max-width: 200px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.container-main {
    width: 800px;
    background: #eee;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.12);
    padding: 10px;
    margin: 10px auto 50px auto;
}

